

.title {
  font-family: 'graphik light';
  font-size: 18px;
  line-height: 1;
  margin-top: 40px;
  margin-bottom: 20px;
}

.title:first-letter {
  text-transform: uppercase;
}


.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'graphik light';
  font-size: 14px;
  line-height: 1.3;
  padding: 0 20px;
  height: 60px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.item.active {
  border-color: #117bf9 !important;
}

.nowrap {
  white-space: nowrap;
}
.itemLeft {
  flex: 1;
  text-align: left;
  margin-right: 20px;
}

.itemRight {
  text-align: right;
  width: 31.7%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  padding: 12.5px 20px;
  background-color: #f3f4f8;
  text-align: right;
  white-space: nowrap;
}
.price {
  display: inline-block;
  font-family: 'graphik light';
  font-size: 24px;
  margin-right: 20px;
  vertical-align: middle;
}
.btn {
  text-align: center;
  background-color: #117bf9;
  border: none;
  color: #fff;
  line-height: 1;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 600;
  padding: 18.5px 30px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .2);
}
