.head {
  position: relative;
  font-size: 18px;
  padding: 22px 20px;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
}

.title {
  font-family: "graphik bold";
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1;
}

.title:first-letter {
  text-transform: capitalize;
}

.littleBtnWrap {
  display: flex;
  justify-content: space-around;
}

.littleBtn {
  background-color: #eee;
  border-radius: 2px;
  font-size: 14px;
  flex: 1;
  padding: 8px 0;
  line-height: 1;
  text-align: center;
  margin: 0 5px;
}

.littleBtn:last-child {
  margin-right: 0;
}

.littleBtn:first-child {
  margin-left: 0;
}

.littleBtn.active {
  color: #fff;
  background-color: #117bf9;
}

.input {
  border: none;
  padding: 6px 0;
  font-size: 18px;
  font-family: "graphik light";
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  width: 100%;
}

.wrap {
  padding: 26.5px 20px 0;
  border-top: 1px solid #ddd;
}


.field {
  padding-bottom: 40px;
}

.fieldsWrap {
  display: flex;
}

.fieldsWrapField {
  flex: 1;
}

.fieldsWrapField:first-child {
  margin-right: 35px;
}