.title {
  font-family: 'graphik bold';
  font-size: 24px;
  text-transform: capitalize;
}

.where {
  font-family: 'graphik light';
  font-size: 14px;
  margin-bottom: 31.5px;
}

.text {
  font-family: 'graphik light';
  font-size: 18px;
  margin: 0;
  padding: 24px 0 28px;
  line-height: 1.34;
}

.readMore {
  color: #117bf9;
}
/*
.padding {
  padding: 30px 20px;
}*/