:global .container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

:global .responsive {
  width: 100%;
  vertical-align: middle;
}

:global .mobile-page {
  position: relative;
  max-width: 640px;
  margin: auto;
}

:global .page-padding {
  padding: 0 20px;
}