.wrap {
  text-align: center; 
}

.dot {
  margin:0 1.5px;
  border-radius: 100%;
  display: inline-block;
  animation-name: a1;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  vertical-align: middle;
}

.dot_1 {
  composes: dot;
}

.dot_2 {
  composes: dot;
  animation-delay: -.15s;
}


.dot_3 {
  composes: dot;  
  animation-delay: -.3s;
}

@keyframes a1 {
  0%, 80%, 100% {
    opacity: 0;
  }

  30%, 50% {
    opacity: 1;
  }
}

.globalLoading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}