.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding-top: 10px;
  padding-bottom: 12px;
}

.title {
  font-family: "Circular Air Pro Book";
  font-size: 18px;
  flex: 1;
  text-align: center;
  text-transform: capitalize;
}

.iconBase {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.iconBase:active {
  background-color: rgba(0,0,0,.1);
}

.iconClose {
  composes: iconBase;
  left: -5px;
  background-image: url(resources/icons/close.svg);
}

.iconCart {
  composes: iconBase;  
  right: -5px;
  background-image: url(resources/icons/cart.svg);
}

.iconBack {
  composes: iconBase;
  left: -6px;
  background-image: url(resources/icons/back.svg);
}


.animate {
  /*composes: animate from 'styles/animation.css';*/
  /*animation-delay: .5s;*/
}
