.nav {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  color: #000;
  padding: 10px 0 16px;
}

.title {
  font-family: "Circular Air Pro Book";
  font-size: 18px;
  flex: 1;
  text-align: center;
  text-transform: capitalize;
}

.iconBase {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.iconClose {
  composes: iconBase;
  background-image: url(resources/icons/close.svg);
}

.iconCart {
  composes: iconBase;
  background-image: url(resources/icons/cart.svg);
}

.iconBack {
  composes: iconBase;
  background-image: url(resources/icons/back.svg);
}


.animate {
  /*composes: animate from 'styles/animation.css';*/
  /*animation-delay: .5s;*/
}
