html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box
}

*, *:after, *:before {
    box-sizing: border-box;
}

body {
  font-family: graphik;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #222;
  background-color: #FDFDFE;
}

hr {
  margin: 0;
  display: block;
  height: 0;

  background-color: #E1E9F2; 
}

:global .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

:global .responsive {
  width: 100%;
  vertical-align: middle;
} 


/* fonts */
@font-face {
    font-family: 'graphik';
    src: url('./fonts/Graphik/Graphik-Regular-Web.eot');
    src: url('./fonts/Graphik/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Graphik/Graphik-Regular-Web.woff') format('woff'),
         url('./fonts/Graphik/Graphik-Regular-Web.ttf') format('truetype'),
         url('./fonts/Graphik/Graphik-Regular-Web.svg#graphik_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'graphik bold';
    src: url('./fonts/Graphik/Graphik-Bold-Web.eot');
    src: url('./fonts/Graphik/Graphik-Bold-Web.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Graphik/Graphik-Bold-Web.woff') format('woff'),
         url('./fonts/Graphik/Graphik-Bold-Web.ttf') format('truetype'),
         url('./fonts/Graphik/Graphik-Bold-Web.svg#graphik_webbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'graphik light';
    src: url('./fonts/Graphik/Graphik-Light.eot');
    src: url('./fonts/Graphik/Graphik-Light.woff') format('woff'),
         url('./fonts/Graphik/Graphik-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'graphik';
    src: url('./fonts/Graphik/Graphik-Regular.eot');
    src: url('./fonts/Graphik/Graphik-Regular.woff') format('woff'),
         url('./fonts/Graphik/Graphik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'graphik semibold';
    src: url('./fonts/Graphik/Graphik-Semibold.eot');
    src: url('./fonts/Graphik/Graphik-Semibold.woff') format('woff'),
         url('./fonts/Graphik/Graphik-Semibold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Gothamhtf Black";
    src: url("./fonts/Gotham/gothamhtf-black-webfont.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Gotham/gothamhtf-black-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("./fonts/Gotham/gothamhtf-black-webfont.woff2") format("woff2"), /* Super Modern Browsers */
         url("./fonts/Gotham/gothamhtf-black-webfont.woff") format("woff"), /* Pretty Modern Browsers */
         url("./fonts/Gotham/gothamhtf-black-webfont.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("./fonts/Gotham/gothamhtf-black-webfont.svg#svgFontName") format("svg"); /* Legacy iOS */ 
}

@font-face {
    font-family: "Gothamhtf Bold";
    src: url("./fonts/Gotham/gothamhtf-bold-webfont.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Gotham/gothamhtf-bold-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("./fonts/Gotham/gothamhtf-bold-webfont.woff2") format("woff2"), /* Super Modern Browsers */
         url("./fonts/Gotham/gothamhtf-bold-webfont.woff") format("woff"), /* Pretty Modern Browsers */
         url("./fonts/Gotham/gothamhtf-bold-webfont.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("./fonts/Gotham/gothamhtf-bold-webfont.svg#svgFontName") format("svg"); /* Legacy iOS */ 
    font-weight: 600;
    font-style: normal;
}