.title {
  font-family: 'graphik light';
  font-size: 28px;
  margin: 0 0 50px;
  line-height: 1;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.block {
  margin: 100px 0;
}

.item {
   margin-bottom: 30px;
}

.card {
  width: 100%;
  box-shadow: 0 2px 25px rgba(0,0,0,.1);
  border-radius: 5px;
}

.bd {
  padding: 20px;
}

.name {
  font-family: 'graphik bold';
  font-size: 18px;
  line-height: 1;
  text-transform: capitalize;
  margin: 0;
} 

.desc {
  font-family: sans-serif;
  line-height: 1.42;
  font-size: 14px;
  color: #777;
  margin-top: 8px;
}

.ft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-family: 'graphik bold';
  font-size: 14px;
}

.ghost_btn {
  border: none;
  padding: 7px 19.7px;
  line-height: 1;
  border-radius: 2px;
  font-weight: 500;
  background: transparent;
  color: #117BF9;
  border: 1px solid #117BF9;
  text-transform: capitalize;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  .wrap {
    flex-direction: row;
  }
  .item {
    flex: 1;
    max-width: 280px;
    margin-bottom: 0;
  }
  .item:nth-child(2n) {
    margin: 0 50px;
  }
}